<div class="ui menu dark-green-bg">
  <div class="left menu">
    <%= link_to "home", "/" %>
    <% if @organization %>
      <%= link_to "Org Home", @organization %>
    <% end %>
    
  </div> 
  <div class="right menu">
    <%= link_to "/logout" do %>
      <span><%= image_tag 'man32.png' %></span> Logout
    <% end %>
  </div>
</div>