<div id="main-nav" class="ui menu dark-green-bg">
  <div class="left menu">
    <%= link_to "home", "/" %>
    <% if @organization %>
      <%= link_to "Org Home", @organization %>
    <% end %>
  </div> 
  <div class="right">
    <div class="ui pointing dropdown link item pad04">
      <span class="text">
        <span><%= image_tag 'man32.png' %> </span> <%= current_user.email %>
      </span>
      <i class="dropdown icon"></i>
      <div class="menu" style="height: inherit;">
        <a href="/logout" class="item">logout</a>
      </div>
    </div>
  </div>
</div>
