<div class="ui sidebar inverted vertical menu">
	<%= link_to @organization, class:"item" do %>
    Organization Home
  <% end %>
	<a class="item">
		Farmer management
	</a>
	<a class="item">
		User and Role
	</a>
	<a class="item">
		Location and Hierarchy
	</a>
	<a class="item">
		Stock management
	</a>
</div>