<div id="stock-management">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    <h3>Customer order</h3>
    <h2><%= @customer_order.customer.name %></h2>
    <%= @customer_order.date_ordered %> <br>

  </div>
  <div class="">
    iueiureiueierieur
  </div>
</div>