<div id="login" class="container">
  <div class="profile">
    <button class="profile__avatar" id="toggleProfile">
     <img src="https://pbs.twimg.com/profile_images/554631714970955776/uzPxPPtr.jpeg" alt="Avatar" /> 
    </button>
    <div class="profile__form">
        <%= form_tag sessions_path do %>
          <div class="profile__fields">
            <div class="field">
            <%= text_field_tag :email, "", class:"input", required: true %>
              <label for="fieldUser" class="label">Username</label>
            </div>
            <div class="field">
              <%= password_field_tag :password,"", class: "input", required: true %>
              <label for="fieldPassword" class="label">Password</label>
            </div>
            <div class="profile__footer">
                <%= submit_tag 'Log in', class:"btn btn-pink btn-block text-uppercase waves-effect waves-light" %>
            </div>
          </div>
        <% end %>
     </div>
  </div>
</div>
