<div id="farmer-info-modal" class="ui modal">
	<div class="ui segment w500 side-card float-right">
		<h2>Farmer information</h2>
		<div>{{farmerInfo.fname}} {{farmerInfo.lname}}</div>
		<div>{{farmerInfo.phone}}</div>
		<div>{{farmerInfo.gender}}</div>
		<div>{{farmerInfo.organization_id}}</div>
	</div>
</div>