<div id="labourer-info-modal" class="ui modal">
	<div class="ui segment w500 side-card float-right">
		<h2>Farmer information</h2>
		<div>{{labourerInfo.fname}} {{labourerInfo.lname}}</div>
		<div>{{labourerInfo.phone}}</div>
		<div>{{labourerInfo.gender}}</div>
	</div>
</div>