<h3>Stock management</h3>
<div class="ui grid">
  <div class="doubling five column row text-center">
    <div class="column">
      <span class="text3">{{stockItems.length}}</span>
      <p class="text08">Stock items</p>
    </div>
    <div class="column">
      <span class="text3">{{storedStocks.length}}</span>
      <p class="text08">Stored stocks</p>
    </div>
    <div class="column">
      <span class="text3">{{storages.length}}</span>
      <p class="text08">Storages</p>
    </div>
    <div class="column">
      <span class="text3">{{customerOrders.length}}</span>
      <p class="text08">Orders</p>
    </div>
  </div>
</div>