<div class="card raise-1 w100p marg-tb">
  <div class="card-top dark-green-bg2">
    <h4>Stock items 
      <span class="right-icon-grey" @click="toggleNewStockItemModal()" ><i class="plus icon"></i></span>
    </h4>
  </div> 
  <div>
    <div v-if="stockItems.length < 1">
      No Stock items on your system
    </div>            
    <div v-if="stockItems.length > 0">
      <div v-for="si in stockItems" class="list-item" @click="setCache(si); toggleShowModal('show-stock-item-modal')">
        <div>{{si.name}} </div>
        <div class="text08 grey-text1" v-if="Boolean(si.stock_type)">
          {{si.stock_type.name}} - {{si.stock_type.unit }}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="new-stock-item-modal" class="ui small modal">
  <div class="content">
    <h4>New stock item</h4>
    <div class="form-group">
      <label>Stock type</label><br>
      <div v-if="stockTypes.length < 1" class="ui button accent-bg" @click="toggleNewStockTypeModal()">
        Create new Stock type
      </div>
      <select v-if="stockTypes.length > 0" v-model="newStockItem.stock_type_id" class="classic">
        <option v-for="stockType in stockTypes" v-bind:value="stockType.id">{{stockType.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Name</label><br>
      <input class="classic" type="text" v-model="newStockItem.name" placeholder="Nordox, 24 pack Coca cola, etc.">
    </div>
    <div class="form-group">
      <label>Cost</label><br>
      <input class="classic" type="number" v-model="newStockItem.cost" placeholder="Cost per unit">
    </div>
    <div class="form-group">
      <label>Minimum quantity</label><br>
      <input class="classic" type="number" v-model="newStockItem.minimum_quantity" placeholder="Minimum quantity to alert for refill">
    </div>
  </div>
  <div class="actions">
    <div class="ui button accent-bg" @click="addStockItem()">Create</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<div id="show-stock-item-modal" class="ui small modal">
  <div class="content">
    <div class="ui stackable two column grid">
      <div class="column">
        <h3>Stock item details</h3><hr>
        <div class="form-group">
          <label>Name</label><br>
          {{cache.name}} 
        </div>
        <div class="form-group">
          <label>Cost</label><br>
          {{cache.cost}} 
        </div>
        <div class="form-group">
          <label>Minimum quantity</label><br>
          {{cache.minimum_quantity}} 
        </div>
      </div>
      <div class="column text-center">

        <div id="stock-item-show-tab-1" class="ui tab active">
          <div class="w200 center relative">
            <%= image_tag 'trolley128.png', class:"circle w128 h128" %> <br>
          </div>
          <div class="ui no-bg button ripple hover-raise" 
            onclick="switchTab('stock-item-show')">change</div>
        </div>
        <div id="stock-item-show-tab-2" class="ui tab">
          <div class="w200 center relative">
            <div class="circle no-bg button fab-tr text15 pad02" 
              onclick="$('#stock-item-show-upload-image').click();">
              <i class="ui photo icon no-marg"></i>
            </div>
            <%= image_tag 'trolley128.png', id:"stock-item-show-upload-preview", class:"circle w128 h128" %> <br>
            <%= file_field_tag :image, id:"stock-item-show-upload-image", onchange:"previewImage('stock-item-show')", hidden:true, "v-model":"cache.image" %>
          </div>
          <div class="ui no-bg button ripple hover-raise text-center"
            @click="updateModelImage('stock_item', $('#stock-item-show-upload-image').files[0])">
            <i class="check icon no-marg"></i>
          </div>
          <div class="ui no-bg button ripple hover-raise text-center"
             onclick="switchTab('stock-item-show')"><i class="delete icon no-marg"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel button">Cancel</div>
  </div>
</div>