$theme-color: #39b54a;
$theme-color-dark: #00a651;
$theme-color-dark2: #388E3C;
$theme-white: #edffe6;

$grey-highlight: #ededed;
$theme-accent: #0176ff;
$dark-green-text: #245013;
$theme-red: #db2828;

.green-bg{  background: $theme-color !important; color: $theme-white !important;}
.dark-green-bg{  background: $theme-color-dark !important; color: #fff !important;}
.dark-green-bg2{  background: $theme-color-dark2 !important; color: #fff !important;}
.accent-bg{  background: $theme-accent !important; color:#fff !important;}
.red-bg{  background: $theme-red !important; color:#fff !important;}
.grey-bg{ background: #ededed !important;}

.stat-bar{
  padding: 1rem;
  color: #e6fcdd;
  hr{
    border-color: #21a905;
  }
}
.card {
  background: #fff;
  color: $dark-green-text !important;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  position: relative;
  width: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem;

  .grid{ margin: -1rem 0 !important; }
  //a{ color: $theme-color; }

  hr{
    border: 1px solid#f8f8f8;
  }
  .card-head{
    color: $theme-color-dark;
    font-weight: 600;
  }

  .card-top{
    border-radius: 3px 3px 0 0;
    margin: -1rem -1rem 1rem -1rem !important;
    padding: 0.5rem 1rem;
    &.theme-bg{
      background: $theme-color;
      color: #fff;
    }
  }

  .card-image{
    margin: -1rem;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    img{
      width: 100%;
    }
  }

  .card-content{
    padding: 10px 0;
    font-size: 1em;
  }

  .card-end{
    width: 100%;
    position: absolute;
    bottom: 0;
  }  
}

.card.hover-raise:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.raise-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.raise-2 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}

.raise-3 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3);
}

.raise-4 {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
}

.raise-5 {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3);
}

.btn{
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 22px;
  transition: all 0.3s ease-in-out;  

  &:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
  }
  &:active{
    //background: #0651aa;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.ripple{
  position: relative;
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;    
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

.extra{
  border: 2px dashed #fff;
  margin: 1rem;
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  padding: 45% 0;
  transition: all 0.3s ease-in-out;

  &:hover{
    background: $theme-color-dark;
  }
  &:active{
    background: $grey-highlight;
  }
}

.nav{

}

.theme-text1{ color: $theme-color;}
.theme-text2{ color: $theme-color-dark;}

.menu{
  border-radius: 0 !important;
  border: none !important;
  //background: $theme-color-dark !important;
  box-shadow: 0 !important;
  color: #fff;
  padding: 5px 1px;
  height: 20px;
  margin: 0 !important;
  a{
    color: #fff;
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
    &:active, &:hover{
      color: #ccc;
      &::after{
        content: "";
        display: block;
        border-bottom: 2px solid #fff;
      }
       
    }
  }
  img{    height: 20px;}
  .right{
    padding: 0 20px 0 0;
  }
}

.title{
  //color: #edffe6;
  font-size: 1.5em;
}

.fab{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  background: $theme-accent;
  text-align: center;
  padding: 0.6em 0 0 0;
  a{color: #fff;}
  i{margin: 0 !important;}
  transition: all 0.3s ease-in-out;
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  &:active{
    background: #0651aa;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.fab-br{  
  position: absolute;
  right: 0;
  bottom: 10px;
}
.fab-tr{  
  position: absolute;
  right: 0;
  top: 0;
}