<div class="h100p w100p theme-grad absolute">
</div>
<div>
  <h1>..</h1>
  <%= image_tag 'ghalani_dark_trans_600.png', class:"absolute brand-fade w500 wmax70" %>
  <%= render 'form' %>
</div>
<script>
  function verPass() {
    var pass1 = $("#pwd1");
    var pass2 = $("#pwd2");
    var ok = true;
    if (pass1.val() != pass2.val()) {
        alert("Passwords do not match...");
        pass1.css("borderColor", "#E34234");
        pass2.css("borderColor", "#E34234");
        ok = false;
    }
    return ok;
  }
</script>