<h1>New User</h1>
<div class="card raise-1 hcenter w400">
  <%= render 'form' %>
</div>
<div class="text-center">
  <p>Already have account? <a href="/login" class="text-primary m-l-5"><b>Sign In</b></a></p>
</div>
<script>
  function verPass() {
    var pass1 = $("#pwd1");
    var pass2 = $("#pwd2");
    var ok = true;
    if (pass1.val() != pass2.val()) {
        alert("Passwords do not match...");
        pass1.css("borderColor", "#E34234");
        pass2.css("borderColor", "#E34234");
        ok = false;
    }
    return ok;
  }
</script>