<div id="farm-info-modal" class="ui modal">
	<div class="ui equal width grid">
		<div class="column text-center">
			<%= image_tag 'farm128.png', class:"circle shad", alt:"Farmer image" %>
		</div>
		<div class="column text12">
			<h2>Farm information</h2>
			<div class="text2">{{farmInfo.name}}</div><br>
			<div>{{farmInfo.size}}</div>
		</div>
	</div>
</div>