<div id="location_hierarchy">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    <h3>Location and Hierarchy</h3>
  </div><br>
  <div class="card raise-1 w90p hcenter neg-marg-top3">
    <div class="ui grid pad-tb1">
      <div class="six wide column">
        <h4>Location hierarchy</h4>
        <hr>
        <div>
          <!-- the demo root element -->
          <div class="marg-bottom3" v-for="treeData in locationTypes">
            <item class="item" :model="treeData"></item>
          </div>
        </div>
        <div class="ui button float-bottom" v-on:click="addRootLocationType()">
          Add level
        </div>
      </div>
      <div class="ten wide column grey-border1">
        <div id="right1">
          <h4>Locations</h4><hr>
          <div v-if="sortedLocations.length < 1">
            No location available
          </div>
          <div v-if="sortedLocations.length > 0" class="marg-bottom3">
            <table class="ui celled table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Parent</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="location in sortedLocations">
                  <td>{{location.name}} <i class="ui eye icon float-right ghost" @click="setCachedLocation(location); toggleLocationShow()"></i></td> 
                  <td>{{findLocationType(location.location_type_id).name}}</td>
                  <td v-if="location.parent_id">{{findLocation(location.parent_id).name}}</td>
                  <td v-if="!location.parent_id">---</td>
                  <td><i class="ui trash icon" @click="setCachedLocation(location); toggleDeleteLocationModal();"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="ui button green-bg float-bottom" @click="toggleNewLocationModal()">Add location</div>
        </div>
        <div id="right2" hidden>
          <div class="fab fab-tr raise-3" @click="toggleLocationShow()"><i class="arrow left icon"></i></div>
          <div>{{cachedLocation.name}}</div>
        </div>
      </div>
    </div>

  </div>
  <div id="new-location-type-modal" class="ui small modal">  
    <div class="content">
      <h3>New location level</h3><hr>
      <div class="form-group w100p-rounded>">
        <label>Name</label> <br>
        <input type="text" placeholder="(e.g. District, Area, Village ...) ">
      </div>
    </div>
    <div class="actions">
      <div class="ui button green-bg" v-on:click="addSubLocationType">Add</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div id="new-location-modal" class="ui small modal">  
    <div class="content">
      <h3>New location</h3><hr>
      <div class="form-group">
        <label>Location type</label> <br>
        <select v-model="newLocation.locationType" class="classic">
          <option v-for="lt in allLocationTypes" v-bind:value="lt">{{lt.name}}</option>
        </select>
      </div>
      <div class="form-group" v-if="Boolean(newLocation.locationType.parent_id)">
        Parent ({{findLocationType(newLocation.locationType.parent_id).name}}) <br>
        <select v-model="newLocation.parent" class="classic">
          <option v-for="location in allLocationsWithLocationType(newLocation.locationType.parent_id)" v-bind:value="location">{{location.name}}</option>
        </select>
      </div>
      <div class="form-group classic">
        <label>Name</label> <br>
        <input class="classic" type="text" v-model="newLocation.name" placeholder="(e.g. District, Area, Village ...) ">
      </div>
    </div>
    <div class="actions">
      <div class="ui button green-bg" v-on:click="createNewLocation">Add</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>

  <div id="delete-location-modal" class="ui small modal"> 
    <div class="content">
      <h4>Are you sure you want to delete this location ({{cachedLocation.name}})?</h4>
      <h3>Every location under this location will all be deleted too...</h3>
    </div>
    <div class="actions">
      <div class="ui red-bg button" @click="deleteLocation()">Delete</div>
      <div class="ui approve button">Cancel</div>
    </div>
  </div>

  <div id="delete-location-type-modal" class="ui small modal"> 
    <div class="content">
      <h4>Are you sure you want to delete this Level ({{cachedLocationType.name}})?</h4>
      <h3>Every location and LocationType under this Level will all be deleted too...</h3>
    </div>
    <div class="actions">
      <div class="ui red-bg button" @click="deleteLocationType()">Delete</div>
      <div class="ui approve button">Cancel</div>
    </div>
  </div>
</div>
<%= render 'organizations/location_and_hierarchy/scripts' %>