$theme-color: #39b54a;
$theme-color2: #3ad45f;
$theme-color-dark: #00a651;
$theme-color-dark2: #388E3C;
$theme-white: #edffe6;

$grey1: #ededed;
$grey-highlight: #ededed;
$theme-accent: #0176ff;
$dark-green-text: #245013;
$theme-red: #db2828;