/*
 *= require_tree ./shared
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html,body{
  font-family: 'Roboto', sans-serif;
}
$theme-color: #39b54a;
$theme-color-dark: #00a651;

.grey-hr1{border: 1px solid #ebebeb;}
.full-height{ height: 100%}
.text-center{text-align: center;}

.w50{width: 50px;}
.w200{width: 200px;}
.h200{height: 200px;}

.center{
  margin: auto;
}

.center-vh{
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.alert{
	position: absolute;
  right: 5px;
  padding: 5px 20px;
  background: #0e4e1b;
  border-radius: 5px;
  top: 10px;
  color: #eee;
  box-shadow: 0px 4px 20px -3px #000;
}
.alert-info{
	color: #eeefff;
	.alicon{
		background: orange !important;
	}
}

.circle{ border-radius: 50%; }
.square{ 
	background: #eee;
	display:block;
	min-width: 25px;
	min-height: 25px;
	width: 25px; 
}

.overlay{
	position: absolute;
	background: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;	
	top: 0;
}

.float-right{	float: right;}
.side-card{  }
.w500{width: 500px;}

.form-group{
	padding: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

body{background: #f5f5f5;}

.text05{font-size: 0.5em;}
.text07{font-size: 0.7em;}
.text08{font-size: 0.8em;}
.text15{font-size: 1.5em;}
.text2{font-size: 2em;}
.text3{font-size: 3em;}