/*
 *= require_tree ./shared
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html,body{
  font-family: 'Roboto', sans-serif;
}
$theme-color: #39b54a;
$theme-color-dark: #00a651;
$grey-highlight: #ededed;
$grey1: #ededed;
$theme-accent: #0176ff;
$dark-green-text: #245013;

.grey-hr1{border: 1px solid #ebebeb;}
.dark-text1{color: #333 !important;}
.full-height{ height: 100%}
.text-center{text-align: center;}

.top-neg-marg30{ margin-top: -30px; }
.top-neg-marg100{ margin-top: -100px; }
.neg-marg1{ margin: -1rem;}
.padb100{padding-bottom: 100px}

.marg-tb{
  margin-top: 1em;
  margin-bottom: 1em; 
}

.marg-bottom3{ margin-bottom: 3em;}

.no-bg{ background: none !important;}

.hcenter { display: block; margin: 0 auto !important;}
.vcenter { margin: auto 0 !important;}

body{background: #f5f5f5;}
.smooth{transition: all 0.3s ease-in-out;}
.text05{font-size: 0.5em;}
.text07{font-size: 0.7em;}
.text08{font-size: 0.8em;}
.text12{font-size: 1.2em;}
.text15{font-size: 1.5em;}
.text2{font-size: 2em;}
.text3{font-size: 3em;}

.w50{width: 50px;}
.w128{width: 128px !important;}
.w200{width: 200px !important;}
.w300{width: 300px !important;}
.w400{width: 400px !important;}
.w500{width: 500px !important;}
.w600{width: 600px !important;}
.w700{width: 700px !important;}
.w800{width: 800px !important;}

.h50{height: 50px;}
.h128{height: 128px !important;}
.h200{height: 200px !important;}
.h300{height: 300px !important;}
.h400{height: 400px !important;}
.h500{height: 500px !important;}
.h600{height: 600px !important;}
.h700{height: 700px !important;}
.h800{height: 800px !important;}
.h400-min{min-height: 400px !important;}

.w90p{
  width: 90%;
  max-width: 1000px;
}
.wmax95{max-width: 95%;}

.h128{height: 128px;}
.h200{height: 200px;}

.w80p{ width: 80% !important;}
.w100p{ width: 100% !important;}

.h50p{ height: 50% !important;}
.h100p{ height: 100% !important;}

.pad1{padding: 1rem !important;}
.pad05{padding: 0.5rem !important;}
.pad2{padding: 2rem !important;}
.padb3{padding-bottom: 3rem !important;}
.pad-lr-20p{padding: 0 10% !important; }
.pad-l-half{padding-left: 0.5rem;}
.pad-l1{padding-left: 1rem;}
.pad-tb1{ padding: 1rem 0 !important}

.neg-marg-top100{ margin: -100px 0 0 0;}
.neg-marg-top3{ margin-top: -3rem !important;}

.grey-border1 {border: 1px solid $grey1;}
.grey-border-right { border-right: 1px solid $grey1; }

.rounded-input{
  border-radius: 3px;
  border: 1px solid #ccc;
}

.grid{margin: 0px !important}

.relative{ position: relative;}

.center{
  margin: 5% auto;
}

.center-vh{
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.alert{
  z-index: 3;
	position: absolute;
  right: 5px;
  padding: 5px 20px;
  background: #0e4e1b;
  border-radius: 5px;
  top: 10px;
  color: #eee;
  box-shadow: 0px 4px 20px -3px #000;
}

.alert-info{
	color: #eeefff;
	.alicon{
		background: orange !important;
	}
}

.circle{ 
  border-radius: 50%; 

  &.shad{
    box-shadow: 0px 2px 30px -10px;
  }
}
.square{ 
	background: #eee;
	display:block;
	min-width: 25px;
	min-height: 25px;
	width: 25px; 
}

.overlay{
	position: absolute;
	background: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;	
	top: 0;
}

.float-right{	float: right;}
.side-card{  }
.w500{width: 500px;}

.form-group{
  //padding: 5px 10px;
  margin: 1rem;
  font-weight: 500;
  color: $dark-green-text;

  .classic{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 0.5em;
  }
}
.w100p-rounded {
  input{
    border: 1px solid #ccc;
    height: 25px;
    border-radius: 3px;
    width: 100%;
    margin: 4px 0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

.overlap{
  width: 100%;
  position: absolute;
  max-width: 90%;
  margin-top: 0px;
  color: #eee;
}

.card-menu-tr{  
  position: absolute;
  right: 0rem;
  top: 1rem;
  color: #898989;
}

.item{
  cursor: pointer;
}

.absolute{position: absolute;}

.side-menu{
  position: absolute;
  background: #333;
  color: #fff;
  &.hidden{
    display: none !important;
  }
}

.list-item{
  position: relative;
  margin: 2px !important;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  .parent-hover{
    display: none;
  }

  &:hover{
    background: $grey-highlight;
    .parent-hover{
      display: block;
      &.red:hover{
        color: red;
      }
    } 
  }
}

.no-bullets{list-style-type:none;}
.ghost{ 
  opacity: 0.2 !important;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  &:hover{
    opacity: 1 !important;
  }
}

.right-icon-grey{
  float: right;
  color: #ccc;
  &:hover{
    color: #333;
  }
}

.green-left-border5{
  border-left: 5px solid $theme-color-dark !important;
}

.float-bottom{
  position: absolute;
  bottom: 1em;
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}