/*
 *= require_tree ./shared
 *= require_self
 */


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html,body{
  font-family: 'Roboto', sans-serif;
}
$theme-color: #39b54a;
$theme-color-dark: #00a651;
$grey-highlight: #ededed;
$theme-accent: #0176ff;

.grey-hr1{border: 1px solid #ebebeb;}
.dark-text1{color: #333 !important;}
.full-height{ height: 100%}
.text-center{text-align: center;}

.top-neg-marg30{ margin-top: -30px; }
.top-neg-marg100{ margin-top: -100px; }
.padb100{padding-bottom: 100px}

body{background: #f5f5f5;}

.text05{font-size: 0.5em;}
.text07{font-size: 0.7em;}
.text08{font-size: 0.8em;}
.text12{font-size: 1.2em;}
.text15{font-size: 1.5em;}
.text2{font-size: 2em;}
.text3{font-size: 3em;}

.w50{width: 50px;}
.w128{width: 128px;}
.w200{width: 200px;}
.w500{width: 500px;}
.w600{width: 600px;}
.w700{width: 700px;}
.w800{width: 800px;}

.w90p{
  width: 90%;
  max-width: 1000px;
}
.wmax95{max-width: 95%;}

.h128{height: 128px;}
.h200{height: 200px;}
.w100p{ width: 100% !important;}

.h100p{ height: 100% !important;}

.rounded-input{
  border-radius: 3px;
  border: 1px solid #ccc;
}

.grid{margin: 0px !important}

.relative{ position: relative;}

.center{
  margin: 5% auto;
}

.center-vh{
  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.alert{
  z-index: 3;
	position: absolute;
  right: 5px;
  padding: 5px 20px;
  background: #0e4e1b;
  border-radius: 5px;
  top: 10px;
  color: #eee;
  box-shadow: 0px 4px 20px -3px #000;
}

.alert-info{
	color: #eeefff;
	.alicon{
		background: orange !important;
	}
}

.circle{ border-radius: 50%; }
.square{ 
	background: #eee;
	display:block;
	min-width: 25px;
	min-height: 25px;
	width: 25px; 
}

.overlay{
	position: absolute;
	background: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;	
	top: 0;
}

.float-right{	float: right;}
.side-card{  }
.w500{width: 500px;}

.form-group{
  padding: 5px 10px;
  font-weight: 500;
  color: #245013;
}
.w100p-rounded {
  input{
    border: 1px solid #ccc;
    height: 25px;
    border-radius: 3px;
    width: 100%;
    margin: 4px 0;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

#farmer-card{
  width: 100%;
  position: absolute;
  max-width: 90%;
  margin-top: 0px;
  color: #eee;
}

.card-menu-tr{  
  position: absolute;
  right: 0rem;
  top: 1rem;
  color: #898989;
}